button{
    width: 95px;
    height: 85px;
    background-color: rgb(126, 126, 126);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 3px 8px black;
    color: black;
    text-align: center;
    font-size: 20px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

button:active, .button-active {
    background-color: orange;
    box-shadow: none;
    transform: translateY(4px);
}

.button-inactive{
    background-color: rgb(126, 126, 126);
    box-shadow: 4px 3px 8px black;
}

