*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(151, 151, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20vh;
}
.drum-machine{
  background-color: rgb(190, 190, 190);
  border: 5px solid orange;
  min-width: 600px;
  height: 350px;
  padding: 25px 0px 10px 20px;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}
.display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}